@import "@/index.scss";

.description-about {
    display: flex;
    position: relative;
    margin: auto;
    width: 1440px;

    &__image-area {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 206px 0 auto 85.67px;
    }

    &__stats-image {
        position: absolute;
        right: -220px;
        top: 400px;
        transition: all 0.3s;
    }

    &__cards-field {
        width: 560.98px;
        height: 526.37px;
    }

    &__mirrored {
        width: 560.98px;
        height: 526.37px;
        margin-top: -15px;
    }

    &__text-area {
        margin: 322px 150px auto 110px;
    }

    &__text {
        margin-top: 40px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }

    &__title {
        font-family: "Hanson", sans-serif;
        font-weight: bold;
        font-size: 36px;
        color: $highlightColor;
    }
}

@media screen and (max-width: 834px) {

    .description-about {
        position: relative;
        width: 834px;

        &__image-area {
            position: relative;
            margin: 97px 0 auto 35.37px;
        }

        &__stats-image {
            position: absolute;
            right: -140px;
            top: 250px;
            width: 202px;
            height: 260px;
        }

        &__cards-field {
            width: 340.72px;
            height: 319.7px;
        }

        &__mirrored {
            width: 340.72px;
            height: 319.7px;
            margin-top: -15px;
        }

        &__text-area {
            margin: 118px 150px auto 67.02px;
        }

        &__title {
            width: 323px;
            font-size: 26px;
            line-height: 27px;
        }

        &__text {
            width: 362px;
            margin-top: 22px;
            font-size: 15px;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 414px) {

    .description-about {
        position: relative;
        width: 414px;
        margin: 0;
        padding: 0;

        &__image-area {
            order: 1;
            position: absolute;
            display: flex;
            flex-direction: row;
            margin: 0;
        }

        &__cards-field {
            width: 252.78px;
            height: 237.19px;
            margin: 210px 0 auto 30.05px;
        }

        &__mirrored {
            display: none;
        }

        &__stats-image {
            width: 149.6px;
            height: 192.86px;
            margin: 90px 35px 0 auto;
        }

        &__text-area {
            order: 0;
            margin: 0;
        }

        &__title {
            width: 352px;
            margin: 96px 30px 0 32px;
            font-size: 36px;
            line-height: 37px;
        }

        &__text {
            width: 353px;
            margin: 429px 30px 0 32px;
            font-size: 18px;
            line-height: 21px;
        }
    }
}
