@import "@/index.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.field-controls-area__clubs {
    display: flex;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 41px 5% 0;
    background: $mainBackground;

    &-name {
        font-family: "BebasNeue", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #4f4f8b;
        border-radius: 115px;
        margin: auto 0 10px auto;
        cursor: pointer;
    }

    .clubs {
        display: flex;
        flex-direction: row;
        margin: auto 0 -10px 16px;

        .active {
            height: 56px;
            background: #33335a;
            border-radius: 15px 15px 0 0;

            svg {
                path {
                    fill: #58e271;
                }
            }

            span {
                color: #58e271;
            }
        }

        .club,
        .active {
            display: flex;
            align-items: center;
            position: relative;
            padding: 15px;
            cursor: pointer;

            svg {
                width: 20px;
                height: 19px;
                margin-bottom: 4px;
            }

            &:hover {
                svg {
                    path {
                        fill: #58e271;
                    }
                }

                span {
                    color: #58e271;
                }
            }

            &__name {
                white-space: nowrap;
                padding-left: 4px;
                font-family: "BebasNeue", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #fff;
            }

            &__info {
                position: absolute;
                z-index: 2;
                top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 109.5px;
                height: 34.5px;
                background: #33335a;
                border-radius: 5px;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #fff;

                &:before {
                    content: "";
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    top: -7px;
                    left: 20px;
                    border-radius: 3px;
                    background-color: $highlightBackground;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
