.staking {

    &__title {
        margin-bottom: 43px;
        font-size: 34px;
        line-height: 43px;
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
    }

    &__description {
        font-size: 17px;
        line-height: 30px;
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
    }
}
