@import "/src/index.scss";

.launch-date-modal {
    position: fixed;
    z-index: 3;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#0b2774c7, #030024d8);
    text-align: center;
    backdrop-filter: blur(8px);

    &__window {
        position: fixed;
        z-index: 3;
        top: 50%;
        left: 50%;
        width: 850px;
        height: 658px;
        margin: auto;
        text-align: center;
        transform: translate(-50%, -50%);
        background: url("@static/images/headingPage/play.png");
        background-position: center;
        background-size: cover;
        background-color: #000108;
        transition: width 0.3s;
    }

    &__description {
        width: 568px;
        margin: 120px 212px 0 100px;
        padding: 5px;
        text-align: left;
        font-family: "Russo One", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 55.4595px;
        line-height: 67px;
        color: $highlightColor;
    }

    &__header {
        display: flex;
        position: relative;
    }

    &__close {
        position: absolute;
        margin-left: 870px;
        margin-top: -20px;
        cursor: pointer;

        &__text {
            color: grey;
            font-size: 80px;
        }
    }

    &__notification {
        display: flex;
        flex-direction: column;
        position: relative;

        &__label {
            order: 0;
            margin: 53px auto 0 100px;
            padding: 5px;
            text-align-last: left;
            font-family: "Rubik", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #fff;
        }

        &__send {
            order: 1;
            width: 646px;
            height: 60px;
            margin: 20px auto 0 105px;
            padding-left: 29px;
            border: 1px solid #4d4d4d;
            box-sizing: border-box;
            outline: none;
            cursor: pointer;
            font-family: "Rubik", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #3d3d3d;

            ::placeholder {
                color: #c2c2c2;
            }
        }

        &__send-error {
            order: 3;
            width: 646px;
            height: 60px;
            margin: 20px auto 0 105px;
            padding-left: 29px;
            border: 3px solid red;
            box-sizing: border-box;
            outline: none;
            cursor: pointer;
            font-family: "Rubik", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #3d3d3d;

            ::placeholder {
                color: #c2c2c2;
            }
        }

        &__send__error {
            order: 3;
            width: 646px;
            margin-left: 105px;
            padding: 5px;
            color: red;
            font-size: 20px;
            text-align: right;
        }

        &__confirm {
            order: 4;
            z-index: 1;
            width: 246.58px;
            height: 66px;
            margin: 62px auto 0 105px;
            padding: 5px;
            font-family: "Hanson", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 19px;
            text-align: center;
            border: none;
            color: white;
            background: linear-gradient(95.3deg, rgba(0, 0, 0, 0.2) 4.05%, rgba(0, 0, 0, 0) 87.48%), #0df55c;
            cursor: pointer;
        }

        &__confirm:hover {
            color: #0df55c;
            background: linear-gradient(95.3deg, rgba(0, 0, 0, 0.2) 4.05%, rgba(0, 0, 0, 0) 87.48%), #fff;
        }
    }

    &__wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 834px) {

    .launch-date-modal {

        &__window {
            width: 750px;
            height: 589px;
        }

        &__description {
            width: 550px;
            margin: 107px auto 0 80px;
            font-size: 50px;
            line-height: 60px;
        }

        &__close {
            position: absolute;
            margin-left: 700px;
            margin-top: -90px;
        }

        &__notification {

            &__label {
                margin: 44px auto 0 80px;
                font-size: 22px;
                line-height: 26px;
            }

            &__send {
                width: 580px;
                height: 60px;
                margin: 20px auto 0 85px;
                padding-left: 26px;
                font-size: 22px;
                line-height: 26px;
            }

            &__send-error {
                width: 580px;
                height: 60px;
                margin: 20px auto 0 80px;
                border: 3px solid red;
                font-size: 22px;
                line-height: 26px;
            }

            &__send__error {
                width: 580px;
                margin-left: 85px;
                font-size: 18px;
            }

            &__confirm {
                width: 221.52px;
                height: 60px;
                margin: 62px auto 0 85px;
            }
        }
    }
}

@media screen and (max-width: 414px) {

    .launch-date-modal {

        &__window {
            top: 10%;
            width: 70%;
        }

        &__close {
            top: 3%;
            margin-top: -7%;

            p {
                width: 32px;
                height: 32px;
                color: #ffff;
            }
        }

        &__close {
            position: absolute;
            margin-left: 330px;

            p {
                width: 32.73px;
                height: 32.73px;
                color: #fff;
            }
        }

        &__notification {

        &__close {
            width: 32px;
            height: 32px;
            top: 5%;
        }

            &__send {
                width: 336px;
                margin: 17px auto 0 28px;
                padding-left: 22px;
                font-size: 24px;
                line-height: 28px;
            }

            &__send-error {
                width: 336px;
                margin: 17px auto 0 28px;
                border: 3px solid red;
                font-size: 24px;
                line-height: 28px;
            }

            &__send__error {
                width: 336px;
                margin-left: 28px;
                font-size: 18px;
            }

            &__confirm {
                width: 336px;
                height: 66px;
                margin: 32px auto 0 28px;
            }
        }
    }
}
