# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.db

# IDE preferences folders
/.vscode
/.vs
.idea/
node_modules

config.json
config.json.APP.BACKUP
config.json.BACKUP
config.json.NFTDROP.BACKUP
config_nft_signer.json