@import "/src/index.scss";

.partnerships {
    background-color: #162574;
    overflow: hidden;

    &__wrapper {
        padding: 100px;
    }

    &__title {
        max-width: 1200px;
        margin: 50px auto 80px;
        font-family: "Russo One", sans-serif;
        font-size: 48px;
        line-height: 63px;
        color: #fff;
        letter-spacing: 0;
        text-align: center;
    }

    &__area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            width: 25%;
            height: 142px;
            padding: 0 14px 14px 0;
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #1f44a0;
                height: 100%;
            }

            &__logo {
                height: 40px;
            }
        }
    }
}

@media (max-width: $desktopBreakPoint + 100px) {
    .partnerships {
        &__wrapper {
            padding: 50px;
        }

        &__title {
            margin: 30px auto 50px;
            font-size: 28px;
            line-height: 36px;
        }

        &__area {
            &__item {
                height: 120px;

                &__logo {
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {
    .partnerships {
        &__area {
            & :nth-child(1) {
                .partnerships__area__item__logo {
                    height: 20px;
                }
            }

            &__item {
                height: 80px;

                &__logo {
                    height: 24px;
                }
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {
    .partnerships {
        &__wrapper {
            padding: 50px 20px;
        }

        &__area {
            max-width: 320px;
            margin: 5% auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;

            &__item {
                width: 50%;
                height: 80px;
                &__logo {
                    height: 18px;
                }
            }
        }
    }
}
