@import "/src/index.scss";

.launch-roadmap {
    display: flex;
    flex-direction: column;
    background: #202552;

    .wrapper {
        width: 1440px;
        margin: 0 auto 156px auto;

        .launch-roadmap__title {
            margin: 115px 435px 104px 444px;
            font-family: "Russo One", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 77px;
            color: $highlightColor;
        }
    }
}

@media screen and (max-width: 834px) {

    .launch-roadmap {

        .wrapper {
            width: 834px;

            .launch-roadmap__title {
                margin: 81px 234px 68px 235px;
                font-size: 42px;
                line-height: 51px;
            }
        }
    }
}

@media screen and (max-width: 414px) {

    .launch-roadmap {

        .wrapper {
            width: 414px;

            .launch-roadmap__title {
                margin: 70px 49px 32px 49px;
                font-size: 36px;
                line-height: 43px;
            }
        }
    }
}
