@import "/src/index.scss";
@import "aos/dist/aos.css";

.roadmap {
    padding: 100px;
    background: #2c3c8f;
    color: white;
    min-height: 1200px;
    overflow-x: hidden;
    position: relative;

    &__title {
        color: $roadmapHighlightColor;
        font-size: 36px;
        text-align: center;
        margin-bottom: 200px;
    }

    &__road {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 30px;
    }

    &__bottom {
        position: absolute;
        width: 100vw;
        left: 0;
        bottom: 0;
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap {

        &__title {
            margin-bottom: 100px;
        }

        &__road {
            justify-content: flex-end;
            flex-direction: column;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap {

        &__title {
            margin-bottom: 80px;
        }

        &__road {
            right: 150px;
            height: 950px;
        }
    }
}
