@import "@/index.scss";

.footballer-card-stats {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    padding: 50px 0;
    row-gap: 5%;
    column-gap: 10%;
    justify-content: center;

    &:after {
        @extend %pseudoelementsInFootballerCard;

        bottom: 0;
    }

    &:before {
        @extend %pseudoelementsInFootballerCard;

        bottom: 0%;
    }
}

// @media screen and (max-width: $desktopBreakPoint) {
// }

// @media screen and (max-width: $tabletBreakPoint) {
// }

// @media screen and (max-width: $phoneBreakPoint) {
// }
