@import "/src/index.scss";
@import "aos/dist/aos.css";

.launch-date {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 413px;
    justify-content: space-between;
    position: relative;
    background: #001236;
    overflow: hidden;

    .wrapper {
        display: flex;
        width: 1440px;
        margin: auto;

        .launch-date__represent {
            width: 444px;
            height: 444px;

            &__ball {
                transition: all, 0.3s;
                height: 110%;
                position: absolute;
                margin-left: 77px;
                animation: bounce 5s ease-in-out both infinite;

                @keyframes bounce {

                    0% {
                        transform: translateY(-40px);
                    }

                    50% {
                        transform: translateY(20px);
                    }

                    100% {
                        transform: translateY(-40px);
                    }
                }
            }
        }

        .launch-date__information {
            display: block;
            width: 800px;
            margin-left: 77px;

            &__subtitle {
                margin: 94px 372px 5.76px 117px;
                color: white;
                font-size: 28px;
                font-family: "Rubic", sans-serif;
            }

            &__title {
                margin-left: 117px;
                font-size: 56px;
                color: $highlightColor;
                font-family: "Russo One", sans-serif;
            }

            &__remind {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 72px;
                width: 269px;
                margin: 43px auto auto 117px;
                padding: 5px;
                font-family: "Hanson", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 25px;
                color: #fff;
                background: $highlightColor;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 834px) {

    .launch-date {
        height: 240px;

        .wrapper {
            width: 834px;

            .launch-date__represent {
                width: 258px;
                height: 258px;

                &__ball {
                    margin-left: 49.6px;
                }
            }

            .launch-date__information {
                display: block;
                width: auto;
                margin-left: 49.6px;

                &__subtitle {
                    margin: 54.44px 210px 3.33px 66.91px;
                    font-size: 16px;
                    line-height: 19px;
                }

                &__title {
                    margin-left: 66.91px;
                    font-size: 32px;
                    line-height: 39px;
                }

                &__remind {
                    height: 42px;
                    width: 156px;
                    margin: 24.9px auto auto 66.91px;
                    font-size: 13.9px;
                    line-height: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {

    .launch-date {
        height: 413px;

        .wrapper {
            width: 414px;

            .launch-date__represent {
                position: absolute;
                width: 382px;
                height: 382px;
                margin-left: 227px;
            }

            .launch-date__information {
                display: block;
                width: auto;
                margin: 0;
                order: 0;

                &__subtitle {
                    margin: 67px 0 27px 30px;
                    font-size: 28px;
                    line-height: 33px;
                }

                &__title {
                    width: 354px;
                    margin-left: 30px;
                    font-size: 36px;
                    line-height: 43px;
                }

                &__remind {
                    width: 269px;
                    height: 72px;
                    margin: 63px auto auto 30px;
                    font-size: 24px;
                    line-height: 25px;
                }
            }
        }
    }
}
