@import "/src/index.scss";
@import "aos/dist/aos.css";

.launch-date {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 413px;
    justify-content: space-between;
    position: relative;
    background: #001236;
    overflow: hidden;

    .wrapper {
        display: flex;
        width: 1440px;
        margin: auto;

        .launch-date__represent {
            width: 444px;
            height: 444px;

            @keyframes bounce {

                0% {
                    transform: translateY(-40px);
                }

                50% {
                    transform: translateY(20px);
                }

                100% {
                    transform: translateY(-40px);
                }
            }
        }
    }

    &__information {
        width: 55%;
        display: block;

        &__subtitle {
            font-family: "Rubik";
            margin-top: 10%;
            color: white;
            font-size: 28px;
        }

        &__title {
            font-family: "Russo One";
            margin-top: 5%;
            font-size: 56px;
            color: $highlightColor;
        }

                @keyframes bounce {

                    0% {
                        transform: translateY(-40px);
                    }

                    50% {
                        transform: translateY(20px);
                    }

                    100% {
                        transform: translateY(-40px);
                    }
                }
            }
        }

        .launch-date__information {
            display: block;
            width: 800px;
            margin-left: 77px;

            &__subtitle {
                margin: 94px 372px 5.76px 117px;
                color: white;
                font-size: 28px;
                font-family: "Rubic", sans-serif;
            }

            &__title {
                margin-left: 117px;
                font-size: 56px;
                color: $highlightColor;
                font-family: "Russo One", sans-serif;
            }

            &__remind {
                height: 48px;
                line-height: 48px;
                font-size: 20px;
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 834px) {

        &__information {
            width: 47%;

        .wrapper {
            width: 834px;

            .launch-date__represent {
                width: 258px;
                height: 258px;

                &__ball {
                    margin-left: 49.6px;
                }
            }

            &__remind {
                margin-left: 20px;
                height: 36px;
                line-height: 36px;
                font-size: 18px;
                width: 180px;
            }
        }
    }
}

@media screen and (max-width: 414px) {

    .launch-date {
        height: 413px;

        .wrapper {
            width: 414px;

            .launch-date__represent {
                position: absolute;
                width: 382px;
                height: 382px;
                margin-left: 227px;
            }

            .launch-date__information {
                display: block;
                width: auto;
                margin: 0;
                order: 0;

                &__subtitle {
                    margin: 67px 0 27px 30px;
                    font-size: 28px;
                    line-height: 33px;
                }

                &__title {
                    width: 354px;
                    margin-left: 30px;
                    font-size: 36px;
                    line-height: 43px;
                }

                &__remind {
                    width: 269px;
                    height: 72px;
                    margin: 63px auto auto 30px;
                    font-size: 24px;
                    line-height: 25px;
                }
            }
        }
    }
}
