@import "@/index.scss";

%animation-block {
    display: flex;
    white-space: nowrap;

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        animation-name: example;
        opacity: 1;
    }
}

// %animation-image {
//     display: inline-block;
//     width: 100%;
//     height: 100%;
//     border-radius: 40px;
//     animation-name: example;
//     opacity: 1;
// }

.description-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
    min-height: 300px;
    height: 512px;
    transition: all 0.3s linear;

    &__text-area {
        padding-left: 50px;
        padding-right: 135px;
        width: 55%;
        font-family: "Roboto";
        font-weight: bold;
    }

    &__title {
        color: $roadmapHighlightColor;
        font-size: 43px;
        line-height: 52px;
        margin-bottom: 40px;
        font-family: "Russo One", sans-serif;
    }

    &__text {
        font-family: "BaiJamjuree", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #a5faff;
    }

    &__card {
        width: 100%;
        transition: all 0.3s;
    }

    &__wrapper {
        width: 300px;
        max-width: 600px;
        overflow: hidden;
        margin-right: 150px;
    }

    &__animate-block {
        @extend %animation-block;
        // img {
        //     @extend %animation-image;

        //     animation-duration: 4.1s;
        //     animation-iteration-count: infinite;
        //     animation-fill-mode: both;
        // }

        // @keyframes example {

        //     0% {
        //         opacity: 1;
        //     }

        //     // 30% {
        //     //     opacity: 1;
        //     // }

        //     // 75% {
        //     //     opacity: 1;
        //     // }

        //     100% {
        //         opacity: 0;
        //     }
        // }
    }

    &__animate-block-0 {
        transform: translate3d(0%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 1;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }

    &__animate-block-1 {
        transform: translate3d(-100%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 0;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &__animate-block-2 {
        transform: translate3d(-200%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 1;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }

    &__animate-block-3 {
        transform: translate3d(-300%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 0;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &__animate-block-4 {
        transform: translate3d(-400%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 1;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }

    &__animate-block-5 {
        transform: translate3d(-500%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 0;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    &__animate-block-6 {
        transform: translate3d(-600%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 1;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }

    &__animate-block-7 {
        transform: translate3d(-700%, 0, 0);
        display: flex;
        white-space: nowrap;

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            animation-name: example;
            opacity: 0;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        @keyframes example {

            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}

@media (max-width: $desktopBreakPoint + 100px) {

    .description-cards {
        margin: 90px auto 20px auto;

        &__text-area {
            width: 60%;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            width: 80%;
            font-size: 15px;
        }

        &__wrapper {
            width: 50%;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .description-cards {
        flex-direction: column;
        position: relative;
        overflow: none;

        &__text-area {
            padding: 0 10px 0 30px;
            width: 100%;
        }

        &__text {
            width: 85%;
            position: absolute;
            top: 95%;
            font-size: 18px;
            line-height: 22px;
            color: #a5faff;
            text-align: justify;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 0;
        }

        &__wrapper {
            width: 110%;
            position: relative;
            right: -15px;
        }
    }
}

@media (max-width: $phoneBreakPoint -  250px) {

    .description-cards {

        &__text {
            width: 82%;
        }
    }
}
