@import "@/index.scss";

.confirm-email {
    height: 100vh;
    width: 100vw;
    background: $mainBackground;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 36px;
        color: $highlightColor;
    }
}
