@import "@/index.scss";

.unity-container {
    height: 100vh;
    width: 100%;
    border: 2px solid black;
    background: grey;
}

#unity-canvas,
#unity-canvas-1 {
    background: #231f20;
    width: 960px;
    height: 600px;
}
